.topnav-wrapper {
  width: 100vw;
  height: 100px;

  /* border-top: 2px solid salmon;
  border-bottom: 2px solid salmon; */

  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100%;
}

.topnav-wrapper .title-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav-wrapper .logo-holder {
  display: flex;

  justify-content: center;
  align-items: center;
}

.topnav-wrapper .logo-holder img {
  height: 64px;
}
/* 
.topnav-wrapper > * {
  border: 2px solid paleturquoise;
} */
