.topnav-wrapper {
  width: 100vw;
  height: 100px;

  display: grid;
  grid-template-columns: 200px auto 200px;
  grid-template-rows: 100%;
}

.topnav-wrapper .title-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.topnav-wrapper .logo-holder {
  display: flex;

  justify-content: center;
  align-items: center;
}

.topnav-wrapper .logo-holder svg {
  height: 64px;
  cursor: pointer;
}

a:hover {
  cursor: default;
}

.topnav-wrapper .logo-holder svg:hover {
  animation-name: grow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  fill: #464242;
}

.title {
  font-family: 'Courier New', monospace;
}

@keyframes grow {
  from {
    height: 64px;
  }
  to {
    height: 68px;
  }
}
