.refresh-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-button-wrapper svg {
  height: 96px;
}

.refresh-button-wrapper svg:hover {
  cursor: pointer;
}
