.board-wrapper {
  width: 100vw;
  height: calc(100vh - 254px);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "digital-7";
}

.board-wrapper .the-board {
  width: 90%;
  height: 90%;

  border-radius: 2px;

  background-color: #070705;

  /* border-right: 8px solid #3b3b3b; */
  border-bottom: 8px solid #3b3b3b;

  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b3b3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eceba0;
}

.board-wrapper .the-board .board-header {
  height: 70px;
  width: 100%;

  font-size: 26px;

  /* border: 2px solid powderblue; */

  color: white;

  display: grid;
  grid-template-columns: 240px 1fr 240px;
}

.board-wrapper .the-board .board-header .board-header-center {
  padding-top: 10px;
}

.board-wrapper .the-board .board-header .board-header-left-side {
  color: #eceba0;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 10px 0px 0px 10px;
}

.board-wrapper .the-board .board-header .board-header-right-side {
  color: #eceba0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  margin: 10px 10px 0px 0px;
}

.board-wrapper .the-board .board-main-content {
  height: calc(100% - 70px);
}

.board-wrapper .the-board .board-table {
  width: 100%;
  color: white;
}

.board-wrapper .the-board .board-table tbody {
  color: #eceba0;
}

.board-wrapper .the-board .board-table tbody tr {
  background-color: #171717;
}

.board-wrapper .the-board .board-table tbody td {
  text-align: left;
  border-radius: 2px;
}

.board-wrapper .the-board .board-table tbody .status-td-good {
  color: #e6fb5e;
}

.board-wrapper .the-board .board-table tbody .status-td-bad {
  color: #ffe5be;
}

.board-wrapper .the-board .board-table .table-header {
  color: white;
}

.board-wrapper .the-board .board-table .table-header th {
  border-radius: 2px;
}

.board-wrapper .the-board .board-table .table-header .sortable-th:hover {
  cursor: pointer;
}

.board-wrapper .the-board .board-table .table-header .sortable-th.down::after {
  content: "\276E";
  font-size: 24px;
  display: inline-block;
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  padding: 5px;
}

.board-wrapper .the-board .board-table .table-header .sortable-th.up::after {
  content: "\276E";
  font-size: 24px;
  display: inline-block;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  padding: 5px;
}
